[Meta]
version = 2.0
create_time = 2025-07-31 20:01:01
comment = Auto generated default config

[SerialSettings]
port = COM3
baudrate = 9600
databits = 8
stopbits = 1
parity = 无
flowcontrol = 无
hex_send = True
hex_display = True
timestamp = True
checksum = None
recv_color = #000000
send_color = #0000FF

[Command0]
hex = True
command = 01 03 00 00 00 01
comment = 读保持寄存器
order = 1
delay = 1000

[Command1]
hex = True
command = 01 06 00 00 00 01 00 01
comment = 写单个寄存器
order = 2
delay = 1000

[Command2]
hex = True
command = 01 03 00 01 00 01
comment = 读输入寄存器
order = 3
delay = 1000

[Command3]
hex = True
command = 01 04 00 00 00 01
comment = 读输入状态
order = 4
delay = 1000

[Command4]
hex = True
command = 01 01 00 00 00 01
comment = 读线圈状态
order = 0
delay = 1000

[Command5]
hex = True
command = 01 05 00 00 FF 00
comment = 写单个线圈
order = 0
delay = 1000

[Command6]
hex = True
command = 01 0F 00 00 00 01
comment = 写多个线圈
order = 0
delay = 1000

[Command7]
hex = True
command = 01 10 00 00 00 02 04 00 01
comment = 写多个寄存器
order = 0
delay = 1000

[Command8]
hex = True
command = 01 03 00 00 00 01
comment = 读设备标识
order = 0
delay = 1000

[Command9]
hex = True
command = 08 01 00 00 00 01
comment = 回送测试
order = 0
delay = 1000

